<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<table>
    <tbody>
    <tr th:each="student: ${studentsList?.students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.mark}"></td>
    </tr>
    <tr>
        <td>
            <form action="#" th:action="@{/students/new_student}" method="get">
                <input type="submit" value="Add new student" />
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/students/bubble}" th:object="${studentsList}" method="post">
                <p hidden th:each="student, studentStat: ${studentsList.students}">
                    <input th:name="|students[${studentStat.index}].name|" th:value="${student.name}" />
                    <input th:name="|students[${studentStat.index}].id|" th:value="${student.id}" />
                    <input th:name="|students[${studentStat.index}].mark|" th:value="${student.mark}" />
                </p>
                <input type="submit" value="Bubble sort" />
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/students/merge}" th:object="${studentsList}" method="post">
                <p hidden th:each="student, studentStat: ${studentsList.students}">
                    <input th:name="|students[${studentStat.index}].name|" th:value="${student.name}" />
                    <input th:name="|students[${studentStat.index}].id|" th:value="${student.id}" />
                    <input th:name="|students[${studentStat.index}].mark|" th:value="${student.mark}" />
                </p>
                <input type="submit" value="Merge sort" />
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/students/heap}" th:object="${studentsList}" method="post">
                <p hidden th:each="student, studentStat: ${studentsList.students}">
                    <input th:name="|students[${studentStat.index}].name|" th:value="${student.name}" />
                    <input th:name="|students[${studentStat.index}].id|" th:value="${student.id}" />
                    <input th:name="|students[${studentStat.index}].mark|" th:value="${student.mark}" />
                </p>
                <input type="submit" value="Heap sort" />
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <span th:text="${executionMessage}? ${executionMessage} : ''"></span>
</div>

</body>
</html>